In [1]:
import requests as req
import http.client
import json
import pandas as pd
from bs4 import BeautifulSoup as bs
from fuzzywuzzy import process, fuzz

Datos que queremos / necesitamos.

Tabla de Equipos de La Liga. ( Id. , Nombre Equipo) .

Tabla de Jugadores. 

(Id Jugador, Id del equipo, Posición, Partidos Jugados 21/22, Goles, Asistencias, Puntos Comunio, Precio de mercado comunio, Puntos totales temporada 20/21 comunio, Pts ultimas 5 jornadas, Pts de media del campeonato,
ptos de media de las últimas 5 jornadas).

Fuentes: 

Tabla Equipos desde API. api.football-data.org

Estadisticas de jugadores (partidos jugados, goles y asistencias) web scraping desde espn.

Datos de comunio (Nombre, posición, valor, puntos, ... ). web scraping página comuniazo y comuniate.

In [19]:


connection = http.client.HTTPConnection('api.football-data.org')
headers = { 'X-Auth-Token': '2643e9e1f8624a75a8eb21f12ad5c0bf' }
connection.request('GET', '/v2/competitions/PD/teams?season=2021', None, headers )
response = json.loads(connection.getresponse().read().decode())['teams']#[0]['name']

In [20]:
team_lst = [response[t]['name'] for t in range(len(response))]
team_lst
team_id = [i for i in range(1,21)]

In [21]:
df_teams = pd.DataFrame(team_lst, columns = ['Team'])
df_teams.insert(0, 'Team_id', team_id)

In [22]:
df_teams.head()

   Team_id                       Team
0        1              Athletic Club
1        2    Club Atlético de Madrid
2        3                 CA Osasuna
3        4  RCD Espanyol de Barcelona
4        5               FC Barcelona

In [23]:
df_teams.to_csv('teams.csv', index=False)

In [24]:
ath_b = [team_lst[0], team_id[0], 'https://www.comuniate.com/plantilla/1/athletic', 27, 'https://www.comuniazo.com/comunio-apuestas/equipos/athletic', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/93/esp.athletic_bilbao']
at_m = [team_lst[1], team_id[1], 'https://www.comuniate.com/plantilla/2/atletico', 23, 'https://www.comuniazo.com/comunio-apuestas/equipos/atletico', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/1068/esp.atletico_madrid']
osa = [team_lst[2], team_id[2], 'https://www.comuniate.com/plantilla/12/osasuna', 28, 'https://www.comuniazo.com/comunio-apuestas/equipos/osasuna', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/97/esp.osasuna']
rcd_esp = [team_lst[3], team_id[3], 'https://www.comuniate.com/plantilla/7/espanyol', 27, 'https://www.comuniazo.com/comunio-apuestas/equipos/espanyol', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/88/esp.espanyol']
barc = [team_lst[4], team_id[4], 'https://www.comuniate.com/plantilla/3/barcelona', 29, 'https://www.comuniazo.com/comunio-apuestas/equipos/barcelona', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/83/esp.barcelona']
geta = [team_lst[5], team_id[5], 'https://www.comuniate.com/plantilla/8/getafe', 29, 'https://www.comuniazo.com/comunio-apuestas/equipos/getafe', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/2922/esp.getafe']
grana = [team_lst[6], team_id[6], 'https://www.comuniate.com/plantilla/71/granada', 31, 'https://www.comuniazo.com/comunio-apuestas/equipos/granada', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/3747/esp.granada_cf']
r_mad = [team_lst[7], team_id[7], 'https://www.comuniate.com/plantilla/15/real-madrid', 30, 'https://www.comuniazo.com/comunio-apuestas/equipos/real-madrid', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/86/esp.real_madrid']
rayo = [team_lst[8], team_id[8], 'https://www.comuniate.com/plantilla/70/rayo-vallecano', 27, 'https://www.comuniazo.com/comunio-apuestas/equipos/rayo-vallecano', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/101/esp.rayo_vallecano']
leva = [team_lst[9], team_id[9], 'https://www.comuniate.com/plantilla/10/levante', 29, 'https://www.comuniazo.com/comunio-apuestas/equipos/levante', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/1538/esp.levante']
mall = [team_lst[10], team_id[10], 'https://www.comuniate.com/plantilla/11/mallorca', 27, 'https://www.comuniazo.com/comunio-apuestas/equipos/mallorca', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/84/esp.mallorca']
bet = [team_lst[11], team_id[1], 'https://www.comuniate.com/plantilla/4/betis', 31, 'https://www.comuniazo.com/comunio-apuestas/equipos/betis', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/244/esp.betis_sevilla']
r_soc = [team_lst[12], team_id[12], 'https://www.comuniate.com/plantilla/13/real-sociedad', 33, 'https://www.comuniazo.com/comunio-apuestas/equipos/real-sociedad', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/89/esp.real_sociedad']
villa = [team_lst[13], team_id[13], 'https://www.comuniate.com/plantilla/19/villarreal', 25, 'https://www.comuniazo.com/comunio-apuestas/equipos/villarreal', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/102/esp.villarreal']
val = [team_lst[14], team_id[14], 'https://www.comuniate.com/plantilla/18/valencia', 28, 'https://www.comuniazo.com/comunio-apuestas/equipos/valencia', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/94/esp.valencia']
alav = [team_lst[15], team_id[15], 'https://www.comuniate.com/plantilla/89/alaves', 25, 'https://www.comuniazo.com/comunio-apuestas/equipos/alaves', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/96/esp.alaves']
cadi = [team_lst[16], team_id[16], 'https://www.comuniate.com/plantilla/105/cadiz', 30, 'https://www.comuniazo.com/comunio-apuestas/equipos/cadiz', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/3842/esp.cadiz']
elch = [team_lst[17], team_id[17], 'https://www.comuniate.com/plantilla/75/elche', 27, 'https://www.comuniazo.com/comunio-apuestas/equipos/elche', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/3751/esp.elche']
celta = [team_lst[18], team_id[18], 'https://www.comuniate.com/plantilla/5/celta', 29, 'https://www.comuniazo.com/comunio-apuestas/equipos/celta', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/85/esp.celta_vigo']
sevil = [team_lst[19], team_id[19], 'https://www.comuniate.com/plantilla/17/sevilla', 26, 'https://www.comuniazo.com/comunio-apuestas/equipos/sevilla', 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/243/esp.fc_sevilla']
teams_set = [ath_b, at_m, osa, rcd_esp, barc, geta, grana, r_mad, rayo, leva, mall, bet, r_soc, villa, val, alav, cadi,elch,celta, sevil]

In [25]:
# función tiene como parámetros (team, team_id, url, numero_judadores, url2, url_espn)

In [26]:
#url='https://www.espn.com/soccer/team/squad/_/id/96/esp.alaves'
url= 'https://www.comuniate.com/plantilla/105/cadiz' # para casi todos los datos
url2 = 'https://www.comuniazo.com/comunio-apuestas/equipos/cadiz' # para los ptos ultimas jornadas

soup = bs(req.get(url).text , 'html.parser')
soup2 = bs(req.get(url2).text , 'html.parser')

jugadores = 30 # necesario porque no todas las plantillas tienes los mismos jugadores, entra por parámetro

#cuerpo de la función
soup = bs(req.get(url).text , 'html.parser')

team_name = soup.find_all('strong')[20].text.split()[2:]

team_id = team_id[14]

equipo = team_name * jugadores

name = soup.find_all('strong')
name = [name[i].text for i in range(22, (22 + jugadores * 2), 2)]

pos_gk = soup.find_all('span', class_='label-posicion label-success')
gks = [pos_gk[i].text.strip() for i in range(len(pos_gk))]

pos_df = soup.find_all('span', class_='label-posicion label-info')
dfs = [pos_df[i].text.strip() for i in range(len(pos_df))]

pos_md = soup.find_all('span', class_='label-posicion label-warning')
mds = [pos_md[i].text.strip() for i in range(len(pos_md))]

pos_fw = soup.find_all('span', class_='label-posicion label-danger')
fws = [pos_fw[i].text.strip() for i in range(len(pos_fw))]

all_pos = gks + dfs + mds + fws

pts = soup.find_all('span', class_='texto_pequenio2 label-posicion label-primary')

pt = [pts[i].text for i in range(len(pts))]

values = soup.find_all('small')
value = [values[i].text.split('€')[0] for i in range(0,len(values),3)]

pt_avg = [values[i].text.split()[-1] for i in range(1,len(values),3)]

on_start_per = [values[i].text.split('%')[0] for i in range(2,len(values),3)]

puntos = soup2.find_all('div', class_='streak')
pts_last_five_jouyneys = [puntos[i].text.split() for i in range(len(puntos))]

jback5 = []
jback4 = []
jback3 = []
jback2 = []
jback1 = []
avg_last_5 = []
for i, ptos in enumerate(pts_last_five_jouyneys):
    avg = 0/5
    if pts_last_five_jouyneys[i][0] == '-':
        jback5.append(0)
    else:
        jback5.append(int(pts_last_five_jouyneys[i][0]))
        avg += int(pts_last_five_jouyneys[i][0])
    if pts_last_five_jouyneys[i][1] == '-':
        jback4.append(0)
    else:
        jback4.append(int(pts_last_five_jouyneys[i][1]))
        avg += int(pts_last_five_jouyneys[i][1])
    if pts_last_five_jouyneys[i][2] == '-':
        jback3.append(0)
    else:
        jback3.append(int(pts_last_five_jouyneys[i][2]))
        avg += int(pts_last_five_jouyneys[i][2])
    if pts_last_five_jouyneys[i][3] == '-':
        jback2.append(0)
    else:
        jback2.append(int(pts_last_five_jouyneys[i][3]))
        avg += int(pts_last_five_jouyneys[i][3])
    if pts_last_five_jouyneys[i][4] == '-':
        jback1.append(0)
    else:
        jback1.append(int(pts_last_five_jouyneys[i][4]))
        avg += int(pts_last_five_jouyneys[i][4])

    avg_last_5.append(avg/5)        


jornada = 16

team = {#'Team_id': team_id, #entra como parametro en la función
        'Team': equipo, # cambiar por el parametro de entrada de entrada team
        'Player': name,
        'Position': all_pos,
        'Total Points': pt,
        'Points Average': pt_avg,
        'Value': value,
        'On start %': on_start_per,
        'Last 5 matchs points': pts_last_five_jouyneys,
        f'J{jornada - 4}': jback5,
        f'J{jornada - 3}': jback4,
        f'J{jornada - 2}': jback3,
        f'J{jornada - 1}': jback2,
        f'J{jornada}': jback1,
        'Avg ultimas 5 J': avg_last_5}


print(equipo)
print(len(name))
print(len(all_pos))
print(len(pt))
print(team)

#df = pd.DataFrame(team)
#df
df = pd.DataFrame(team)
df.to_csv(f'{team_name}.csv', index = False)

df

['Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz']
30
29
29
{'Team': ['Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz', 'Cádiz'], 'Player': ['Jeremías Ledesma', 'David Gil', 'Espino', 'Iza Carcelén', 'Varazdat Haroyan', 'Fali', 'Víctor Chust', 'Akapo', 'Cala', 'Arzamendia', 'Marcos Mauro', 'Álex Fernández', 'Tomás Alarcón', 'Salvi', 'Jens Jonsson', 'Alberto Perea', 'Álvaro Jiménez', 'Martín Calderón', 'Álvaro Bastida', 'Iván Alejo', 'José Mari', 'Jon Ander Garrido', 'Kike Carrasco', 'Choco Lozano', 'Negredo', 'Sobrino', 'Osmajic', 'Iván Chapela', 'Florin Andone', 'Fali'], 'Position': ['PT', 'PT', 'DF', 'DF', 'DF', 'DF', 'DF', 'DF', 'DF', 'DF', 'DF', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL'], 'Total Points': ['53', '0', '68', '49', '48', '42', '24', '19', '11', '8', '2', '59', '53', '53', '53', '39', '23', '12', '8', '1', '0', '0', '0', '77', '56', '37', '18', '15', '5'], 'Points Average': ['3.3', '0', '4.3', '3.3', '3.4', '3', '3', '2.4', '1.4', '1.3', '2', '4.2', '4.1', '3.8', '3.8', '3.3', '2.6', '2.4', '1.6', '0.5', '0', '0', '0', '5.5', '3.7', '2.8', '2.6', '2.5', '1.7'], 'Value': ['2.630.000', '230.000', '4.280.000', '1.560.000', '1.580.000', '1.620.000', '1.020.000', '620.000', '790.000', '500.000', '320.000', '3.760.000', '2.390.000', '2.100.000', '2.050.000', '1.230.000', '620.000', '270.000', '390.000', '300.000', '450.000', '200.000', '200.000', '5.840.000', '4.910.000', '2.180.000', '880.000', '450.000', '630.000'], 'On start %': ['100', '0', '100', '81', '88', '69', '38', '31', '38', '13', '6', '63', '63', '75', '69', '44', '6', '0', '13', '0', '0', '0', '0', '63', '50', '69', '6', '13', '6'], 'Last 5 matchs points': [['6', '11', '2', '-1', '-1'], ['-', '-', '-', '-', '-'], ['4', '9', '1', '0', '2'], ['5', '2', '4', '2', '5'], ['-', '5', '5', '0', '1'], ['0', '2', '1', '1', '-'], ['2', '-', '-', '-', '0'], ['-', '1', '-', '-', '4'], ['3', '6', '-1', '2', '-'], ['2', '4', '-', '1', '-'], ['-', '-', '-', '-', '-'], ['5', '6', '2', '2', '6'], ['3', '-', '4', '-', '-'], ['-', '10', '2', '2', '-'], ['5', '6', '-', '0', '5'], ['0', '7', '2', '4', '6'], ['-', '-', '2', '-', '2'], ['-', '-', '-', '-', '2'], ['-', '-', '1', '2', '-'], ['-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-'], ['6', '4', '2', '8', '5'], ['7', '6', '4', '2', '2'], ['1', '5', '1', '2', '0'], ['2', '-', '-', '-', '-'], ['3', '4', '2', '2', '-'], ['-', '-', '-', '-', '-']], 'J12': [6, 0, 4, 5, 0, 0, 2, 0, 3, 2, 0, 5, 3, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 6, 7, 1, 2, 3, 0], 'J13': [11, 0, 9, 2, 5, 2, 0, 1, 6, 4, 0, 6, 0, 10, 6, 7, 0, 0, 0, 0, 0, 0, 0, 4, 6, 5, 0, 4, 0], 'J14': [2, 0, 1, 4, 5, 1, 0, 0, -1, 0, 0, 2, 4, 2, 0, 2, 2, 0, 1, 0, 0, 0, 0, 2, 4, 1, 0, 2, 0], 'J15': [-1, 0, 0, 2, 0, 1, 0, 0, 2, 1, 0, 2, 0, 2, 0, 4, 0, 0, 2, 0, 0, 0, 0, 8, 2, 2, 0, 2, 0], 'J16': [-1, 0, 2, 5, 1, 0, 0, 4, 0, 0, 0, 6, 0, 0, 5, 6, 2, 2, 0, 0, 0, 0, 0, 5, 2, 0, 0, 0, 0], 'Avg ultimas 5 J': [3.4, 0.0, 3.2, 3.6, 2.2, 0.8, 0.4, 1.0, 2.0, 1.4, 0.0, 4.2, 1.4, 2.8, 3.2, 3.8, 0.8, 0.4, 0.6, 0.0, 0.0, 0.0, 0.0, 5.0, 4.2, 1.8, 0.4, 2.2, 0.0]}

ValueError: All arrays must be of the same length

In [10]:
df

,Team,Player,Position,Total Points,Points Average,Value,On start %,Last 5 matchs points,J10,J11,J12,J13,J14,Avg ultimas 5 J
0,Atlético,Oblak,PT,48,3.4,5.410.000,100,"[1, 7, 2, 9, 1]",1,7,2,9,1,4.0
1,Atlético,Lecomte,PT,0,0,280.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0
2,Atlético,José Giménez,DF,53,5.3,5.160.000,71,"[-, 4, 4, 7, 7]",0,4,4,7,7,4.4
3,Atlético,Savic,DF,56,4.7,5.070.000,86,"[2, 8, 2, -, 3]",2,8,2,0,3,3.0
4,Atlético,Mario Hermoso,DF,43,3.3,3.100.000,86,"[3, 5, 2, 6, 2]",3,5,2,6,2,3.6
5,Atlético,Trippier,DF,39,3.3,4.370.000,64,"[3, 2, 2, -, -]",3,2,2,0,0,1.4
6,Atlético,Felipe,DF,33,4.7,1.680.000,36,"[7, -, -, 15, 2]",7,0,0,15,2,4.8
7,Atlético,Vrsaljko,DF,27,5.4,1.470.000,7,"[-, -, 12, 6, -]",0,0,12,6,0,3.6
8,Atlético,Renan Lodi,DF,22,2,1.440.000,21,"[0, -, -, -, -]",0,0,0,0,0,0.0
9,Atlético,Ferreira Carrasco,MD,84,6,10.240.000,86,"[2, 17, 2, 11, 11]",2,17,2,11,11,8.6
10,Atlético,Rodrigo de Paul,MD,69,5.3,8.810.000,57,"[4, 10, 4, 2, 8]",4,10,4,2,8,5.6
11,Atlético,Kondogbia,MD,42,4.7,3.770.000,29,"[-, -, -, 3, 14]",0,0,0,3,14,3.4
12,Atlético,Lemar,MD,53,6.6,7.430.000,50,"[-, -, -, 5, 7]",0,0,0,5,7,2.4
13,Atlético,Marcos Llorente,MD,44,4.4,9.880.000,71,"[-, -, 1, 4, -]",0,0,1,4,0,1.0
14,Atlético,Koke,MD,39,3.5,6.820.000,79,"[2, 4, 1, 6, 3]",2,4,1,6,3,3.2
15,Atlético,Héctor Herrera,MD,29,4.1,960.000,14,"[6, 2, 1, -, -]",6,2,1,0,0,1.8
16,Atlético,Carlos Martín,MD,3,3,390.000,0,"[-, -, -, 3, -]",0,0,0,3,0,0.6
17,Atlético,Luis Suárez,DL,81,5.8,17.550.000,71,"[1, 0, 10, 2, 1]",1,0,10,2,1,2.8
18,Atlético,Correa,DL,78,5.6,9.600.000,64,"[2, 8, 7, 3, 10]",2,8,7,3,10,6.0
19,Atlético,Griezmann,DL,76,5.4,16.080.000,93,"[10, 10, 7, 3, 15]",10,10,7,3,15,9.0
20,Atlético,Matheus Cunha,DL,46,4.6,3.140.000,0,"[9, 5, -, 4, 14]",9,5,0,4,14,6.4
21,Atlético,João Félix,DL,32,4.6,8.880.000,21,"[6, 9, 2, -, -]",6,9,2,0,0,3.4
22,Atlético,Saponjic,DL,0,0,270.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0

In [10]:
pts_last_5_matchs = soup.find_all('div', class_='col-md-12')
pts_last_5_matchs[3].text.split('\n')[83:88]
#pacheco = pts_last_5_matchs[2].text.split('\n')[25:30]
#pacheco[::-1]
#sivera = pts_last_5_matchs[2].text.split('\n')[53:58]
#sivera[::-1]
#laguardia = pts_last_5_matchs[3].text.split('\n')[25:30]
#duarte = pts_last_5_matchs[3].text.split('\n')[54:59]

['', '0', '5', '7', '5']

In [11]:
url2 = 'https://www.comuniazo.com/comunio-apuestas/equipos/alaves'
soup2 = bs(req.get(url2).text , 'html.parser')
puntos = soup2.find_all('div', class_='streak')

#for i in range(len(puntos)):
#    print(puntos[i].text.split())

pts_last_five_jouyneys = [puntos[i].text.split() for i in range(len(puntos))]
jback5 = []
jback4 = []
jback3 = []
jback2 = []
jback1 = []
for i, ptos in enumerate(pts_last_five_jouyneys):
    if pts_last_five_jouyneys[i][0] == '-':
        jback5.append(0)
    else:
        jback5.append(int(pts_last_five_jouyneys[i][0]))
    if pts_last_five_jouyneys[i][1] == '-':
        jback4.append(0)
    else:
        jback4.append(int(pts_last_five_jouyneys[i][1])) 
    if pts_last_five_jouyneys[i][2] == '-':
        jback3.append(0)
    else:
        jback3.append(int(pts_last_five_jouyneys[i][2])) 
    if pts_last_five_jouyneys[i][3] == '-':
        jback2.append(0)
    else:
        jback2.append(int(pts_last_five_jouyneys[i][3])) 
    if pts_last_five_jouyneys[i][4] == '-':
        jback1.append(0)
    else:
        jback1.append(int(pts_last_five_jouyneys[i][4]))

In [12]:
jback5

[5, 2, 9, 7, 0, 5, 6, 4, 0, 0, 0, 0, 1, 5, 11, 4, 2, 3, 6, 4, 0, 2, 0, 0, 0]

In [13]:
espn_url = 'https://espndeportes.espn.com/futbol/equipo/estadisticas/_/id/96/alaves'

soup = bs(req.get(espn_url).text , 'html.parser')

team_name = soup.find('span', class_='db fw-bold').text.strip()

goals = soup.find('tbody', class_='Table__TBODY')

players = goals.find_all('tr')

player_stats = [players[i].text for i in range(len(players)-1)]

all_stats = []

for p in player_stats:
    #print(p)
    name = ''
    stats = []
    p_stats = []
    for i in range(len(p)):
       
        if p[i].isnumeric() and  i == 0:
            #print(p[i])
            #print('Es numero y el primer caracter')
            continue
        elif p[i].isalpha() or p[i] == ' ':
            #print(p[i])
            #print('es letra')
            name += p[i]
        elif p[i].isnumeric():
            stats.append(p[i])
            #print(p[i])
            #print('es numero')
    p_stats.append(name)
    p_stats.append(stats)
    matchs_played = ''
    goals = ''
    
    if len(stats) == 2:
        matchs_played += stats[0]
        goals += stats[1]
    if len(stats) == 3:
        matchs_played += stats[0]
        matchs_played += stats[1]
        goals += stats[2]
    if len(stats) == 4:
        matchs_played += stats[0]
        matchs_played += stats[1]
        goals += stats[2]
        goals += stats[3]
    #print(matchs_played)
    #print(goals)
    
    all_stats_dict = {
        'Team': team_name,
        'Player': name,
        'Matchs': matchs_played,
        'Goals': goals
    }
    all_stats.append(all_stats_dict)
    #print(name, stats)
    
print(all_stats)

[{'Team': 'Alavés', 'Player': 'Joselu', 'Matchs': '14', 'Goals': '7'}, {'Team': 'Alavés', 'Player': 'Víctor Laguardia', 'Matchs': '13', 'Goals': '2'}, {'Team': 'Alavés', 'Player': 'Luis Rioja', 'Matchs': '14', 'Goals': '1'}, {'Team': 'Alavés', 'Player': 'Mamadou Loum', 'Matchs': '14', 'Goals': '1'}, {'Team': 'Alavés', 'Player': 'Facundo Pellistri', 'Matchs': '13', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Antonio Moya', 'Matchs': '13', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Manu García', 'Matchs': '13', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Rubén Duarte', 'Matchs': '13', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Tomás Pina', 'Matchs': '13', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Fernando Pacheco', 'Matchs': '12', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Édgar Méndez', 'Matchs': '10', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Martín Aguirregabiria', 'Matchs': '9', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Pere Pons', 'Matchs': '9', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Ximo Navarro', 'Matchs': '9', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Mamadou Sylla', 'Matchs': '8', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Matt Miazga', 'Matchs': '8', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'John Guidetti', 'Matchs': '8', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Florian Lejeune', 'Matchs': '8', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Miguel De la Fuente', 'Matchs': '7', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Antonio Sivera', 'Matchs': '3', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Barbero', 'Matchs': '6', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Javier López', 'Matchs': '2', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Alberto Rodríguez', 'Matchs': '2', 'Goals': '0'}, {'Team': 'Alavés', 'Player': 'Iván Martín', 'Matchs': '1', 'Goals': '0'}]

In [14]:
df_stats = pd.DataFrame(all_stats)

In [15]:
espn_url = 'https://espndeportes.espn.com/futbol/equipo/estadisticas/_/id/96/alaves'

soup = bs(req.get(espn_url).text , 'html.parser')

team_name = soup.find('span', class_='db fw-bold').text.strip()

assistances = soup.find('tbody', class_='Table__TBODY')

players = assistances.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

player_stats2 = [players[i].text for i in range(len(players)-1)]

player_stats2

all_stats2 = []

for p in player_stats2:
    #print(p)
    name = ''
    stats = []
    p_stats = []
    for i in range(len(p)):
       
        if p[i].isnumeric() and  i == 0:
            #print(p[i])
            #print('Es numero y el primer caracter')
            continue
        elif p[i].isalpha() or p[i] == ' ':
            #print(p[i])
            #print('es letra')
            name += p[i]
        elif p[i].isnumeric():
            stats.append(p[i])
            #print(p[i])
            #print('es numero')
    p_stats.append(name)
    p_stats.append(stats)
    matchs_played = ''
    assistances = ''
    
    if len(stats) == 2:
        matchs_played += stats[0]
        assistances += stats[1]
    if len(stats) == 3:
        matchs_played += stats[0]
        matchs_played += stats[1]
        assistances += stats[2]
    if len(stats) == 4:
        matchs_played += stats[0]
        matchs_played += stats[1]
        assistances += stats[2]
        assistances += stats[3]
    #print(matchs_played)
    #print(goals)
    
    all_stats2_dict = {
        'Team': team_name,
        'Player': name,
        'Matchs': matchs_played,
        'Assintances': assistances
    }
    all_stats2.append(all_stats2_dict)
    #print(name, stats)
    
print(all_stats2)

[{'Team': 'Alavés', 'Player': 'Joselu', 'Matchs': '14', 'Assintances': '7'}, {'Team': 'Alavés', 'Player': 'Víctor Laguardia', 'Matchs': '13', 'Assintances': '2'}, {'Team': 'Alavés', 'Player': 'Luis Rioja', 'Matchs': '14', 'Assintances': '1'}, {'Team': 'Alavés', 'Player': 'Mamadou Loum', 'Matchs': '14', 'Assintances': '1'}, {'Team': 'Alavés', 'Player': 'Facundo Pellistri', 'Matchs': '13', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Antonio Moya', 'Matchs': '13', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Manu García', 'Matchs': '13', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Rubén Duarte', 'Matchs': '13', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Tomás Pina', 'Matchs': '13', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Fernando Pacheco', 'Matchs': '12', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Édgar Méndez', 'Matchs': '10', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Martín Aguirregabiria', 'Matchs': '9', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Pere Pons', 'Matchs': '9', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Ximo Navarro', 'Matchs': '9', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Mamadou Sylla', 'Matchs': '8', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Matt Miazga', 'Matchs': '8', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'John Guidetti', 'Matchs': '8', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Florian Lejeune', 'Matchs': '8', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Miguel De la Fuente', 'Matchs': '7', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Antonio Sivera', 'Matchs': '3', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Barbero', 'Matchs': '6', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Javier López', 'Matchs': '2', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Alberto Rodríguez', 'Matchs': '2', 'Assintances': '0'}, {'Team': 'Alavés', 'Player': 'Iván Martín', 'Matchs': '1', 'Assintances': '0'}]

In [16]:
df_stats2 = pd.DataFrame(all_stats2)
df_stats2.head()

     Team             Player Matchs Assintances
0  Alavés             Joselu     14           7
1  Alavés   Víctor Laguardia     13           2
2  Alavés         Luis Rioja     14           1
3  Alavés       Mamadou Loum     14           1
4  Alavés  Facundo Pellistri     13           0

In [11]:
espn_url = 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/1068/esp.atletico_madrid'

soup = bs(req.get(espn_url).text , 'html.parser')

team_name = soup.find('span', class_='db fw-bold').text.strip()

porteros = soup.find('div', class_='Table__Scroller')
filas_porteros = porteros.find_all('tr')
stats_porteros = [[e.text for e in filas_porteros[i].find_all('td')] for i in range(1,len(filas_porteros))]

jugadores_campo = soup.find_all('div', class_='Table__Scroller')
filas_jugadores_campo = jugadores_campo[1].find_all('tr')
stats_jugadores = [[e.text for e in filas_jugadores_campo[i].find_all('td')] for i in range(1,len(filas_jugadores_campo))]

pl_lst = []

for i, player in enumerate(stats_porteros):
    name = ''.join([e for e in stats_porteros[i][0] if e.isalpha() or e == ' '])
    matchs = player[6]
    goles_encajados = player[9]
    asistencias = player[10]
    
    
    gk_dict = {'Player': name, 'Matchs': matchs, 'Goals / Goals Received': goles_encajados, 'Assistances' : asistencias}
    pl_lst.append(gk_dict)

for i, player in enumerate(stats_jugadores):
    name = ''.join([e for e in stats_jugadores[i][0] if e.isalpha() or e == ' '])
    matchs = player[6]
    goles = player[8]
    asistencias = player[9]
    
    
    pl_dict = {'Player': name, 'Matchs': matchs, 'Goals / Goals Received': goles, 'Assistances' : asistencias}
    pl_lst.append(pl_dict)

pl_lst

[{'Player': 'Benjamin Lecomte',
  'Matchs': '0',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Jan Oblak',
  'Matchs': '14',
  'Goals / Goals Received': '12',
  'Assistances': '0'},
 {'Player': 'Christian Gómez',
  'Matchs': '--',
  'Goals / Goals Received': '--',
  'Assistances': '--'},
 {'Player': 'Alejandro Iturbe',
  'Matchs': '--',
  'Goals / Goals Received': '--',
  'Assistances': '--'},
 {'Player': 'José Giménez',
  'Matchs': '10',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Renan Lodi',
  'Matchs': '11',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Stefan Savic',
  'Matchs': '12',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Felipe',
  'Matchs': '7',
  'Goals / Goals Received': '1',
  'Assistances': '1'},
 {'Player': 'Mario Hermoso',
  'Matchs': '13',
  'Goals / Goals Received': '0',
  'Assistances': '1'},
 {'Player': 'Kieran Trippier',
  'Matchs': '12',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Sime Vrsaljko',
  'Matchs': '5',
  'Goals / Goals Received': '1',
  'Assistances': '1'},
 {'Player': 'Sergio Camus',
  'Matchs': '--',
  'Goals / Goals Received': '--',
  'Assistances': '--'},
 {'Player': 'Fran González',
  'Matchs': '--',
  'Goals / Goals Received': '--',
  'Assistances': '--'},
 {'Player': 'Geoffrey Kondogbia',
  'Matchs': '9',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Rodrigo De Paul',
  'Matchs': '13',
  'Goals / Goals Received': '0',
  'Assistances': '1'},
 {'Player': 'Koke',
  'Matchs': '11',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Thomas Lemar',
  'Matchs': '8',
  'Goals / Goals Received': '3',
  'Assistances': '2'},
 {'Player': 'Marcos Llorente',
  'Matchs': '10',
  'Goals / Goals Received': '0',
  'Assistances': '1'},
 {'Player': 'Héctor Herrera',
  'Matchs': '7',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Yannick Carrasco',
  'Matchs': '14',
  'Goals / Goals Received': '2',
  'Assistances': '4'},
 {'Player': 'Javier Serrano',
  'Matchs': '0',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'João Félix',
  'Matchs': '7',
  'Goals / Goals Received': '1',
  'Assistances': '1'},
 {'Player': 'Antoine Griezmann',
  'Matchs': '14',
  'Goals / Goals Received': '3',
  'Assistances': '1'},
 {'Player': 'Luis Suárez',
  'Matchs': '14',
  'Goals / Goals Received': '7',
  'Assistances': '1'},
 {'Player': 'Ángel Correa',
  'Matchs': '14',
  'Goals / Goals Received': '4',
  'Assistances': '3'},
 {'Player': 'Ivan Saponjic',
  'Matchs': '0',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Matheus Cunha',
  'Matchs': '10',
  'Goals / Goals Received': '2',
  'Assistances': '1'},
 {'Player': 'Giuliano Simeone',
  'Matchs': '0',
  'Goals / Goals Received': '0',
  'Assistances': '0'},
 {'Player': 'Carlos Martín',
  'Matchs': '1',
  'Goals / Goals Received': '0',
  'Assistances': '0'}]

In [12]:
df_at = pd.DataFrame(pl_lst)
df_at

                Player Matchs Goals / Goals Received Assistances
0     Benjamin Lecomte      0                      0           0
1            Jan Oblak     14                     12           0
2      Christian Gómez     --                     --          --
3     Alejandro Iturbe     --                     --          --
4         José Giménez     10                      0           0
5           Renan Lodi     11                      0           0
6         Stefan Savic     12                      0           0
7               Felipe      7                      1           1
8        Mario Hermoso     13                      0           1
9      Kieran Trippier     12                      0           0
10       Sime Vrsaljko      5                      1           1
11        Sergio Camus     --                     --          --
12       Fran González     --                     --          --
13  Geoffrey Kondogbia      9                      0           0
14     Rodrigo De Paul     13                      0           1
15                Koke     11                      0           0
16        Thomas Lemar      8                      3           2
17     Marcos Llorente     10                      0           1
18      Héctor Herrera      7                      0           0
19    Yannick Carrasco     14                      2           4
20      Javier Serrano      0                      0           0
21          João Félix      7                      1           1
22   Antoine Griezmann     14                      3           1
23         Luis Suárez     14                      7           1
24        Ángel Correa     14                      4           3
25       Ivan Saponjic      0                      0           0
26       Matheus Cunha     10                      2           1
27    Giuliano Simeone      0                      0           0
28       Carlos Martín      1                      0           0

In [13]:
df[['team_matched', 'fuzz_score']]=df.Player.apply(lambda x:process.extractOne(x,
                                                                     df_at.Player.tolist(),
                                                                     scorer=fuzz.partial_ratio)).apply(pd.Series)
df=pd.merge(df, df_at, left_on='team_matched', right_on='Player')
df_1=df[df.fuzz_score>85]
#df_1 = df1.drop(columns = ['team_matched', 'fuzz_score', 'Team_y', 'Player_y'])
df_1

,Team,Player_x,Position,Total Points,Points Average,Value,On start %,Last 5 matchs points,J10,J11,J12,J13,J14,Avg ultimas 5 J,team_matched,fuzz_score,Player_y,Matchs,Goals / Goals Received,Assistances
0,Atlético,Oblak,PT,48,3.4,5.410.000,100,"[1, 7, 2, 9, 1]",1,7,2,9,1,4.0,Jan Oblak,100,Jan Oblak,14,12,0
1,Atlético,Lecomte,PT,0,0,280.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,Benjamin Lecomte,100,Benjamin Lecomte,0,0,0
2,Atlético,José Giménez,DF,53,5.3,5.160.000,71,"[-, 4, 4, 7, 7]",0,4,4,7,7,4.4,José Giménez,100,José Giménez,10,0,0
3,Atlético,Savic,DF,56,4.7,5.070.000,86,"[2, 8, 2, -, 3]",2,8,2,0,3,3.0,Stefan Savic,100,Stefan Savic,12,0,0
4,Atlético,Mario Hermoso,DF,43,3.3,3.100.000,86,"[3, 5, 2, 6, 2]",3,5,2,6,2,3.6,Mario Hermoso,100,Mario Hermoso,13,0,1
5,Atlético,Trippier,DF,39,3.3,4.370.000,64,"[3, 2, 2, -, -]",3,2,2,0,0,1.4,Kieran Trippier,100,Kieran Trippier,12,0,0
6,Atlético,Felipe,DF,33,4.7,1.680.000,36,"[7, -, -, 15, 2]",7,0,0,15,2,4.8,Felipe,100,Felipe,7,1,1
7,Atlético,Vrsaljko,DF,27,5.4,1.470.000,7,"[-, -, 12, 6, -]",0,0,12,6,0,3.6,Sime Vrsaljko,100,Sime Vrsaljko,5,1,1
8,Atlético,Renan Lodi,DF,22,2,1.440.000,21,"[0, -, -, -, -]",0,0,0,0,0,0.0,Renan Lodi,100,Renan Lodi,11,0,0
10,Atlético,Rodrigo de Paul,MD,69,5.3,8.810.000,57,"[4, 10, 4, 2, 8]",4,10,4,2,8,5.6,Rodrigo De Paul,100,Rodrigo De Paul,13,0,1
11,Atlético,Kondogbia,MD,42,4.7,3.770.000,29,"[-, -, -, 3, 14]",0,0,0,3,14,3.4,Geoffrey Kondogbia,100,Geoffrey Kondogbia,9,0,0
12,Atlético,Lemar,MD,53,6.6,7.430.000,50,"[-, -, -, 5, 7]",0,0,0,5,7,2.4,Thomas Lemar,100,Thomas Lemar,8,3,2
13,Atlético,Marcos Llorente,MD,44,4.4,9.880.000,71,"[-, -, 1, 4, -]",0,0,1,4,0,1.0,Marcos Llorente,100,Marcos Llorente,10,0,1
14,Atlético,Koke,MD,39,3.5,6.820.000,79,"[2, 4, 1, 6, 3]",2,4,1,6,3,3.2,Koke,100,Koke,11,0,0
15,Atlético,Héctor Herrera,MD,29,4.1,960.000,14,"[6, 2, 1, -, -]",6,2,1,0,0,1.8,Héctor Herrera,100,Héctor Herrera,7,0,0
16,Atlético,Carlos Martín,MD,3,3,390.000,0,"[-, -, -, 3, -]",0,0,0,3,0,0.6,Carlos Martín,100,Carlos Martín,1,0,0
17,Atlético,Luis Suárez,DL,81,5.8,17.550.000,71,"[1, 0, 10, 2, 1]",1,0,10,2,1,2.8,Luis Suárez,100,Luis Suárez,14,7,1
18,Atlético,Correa,DL,78,5.6,9.600.000,64,"[2, 8, 7, 3, 10]",2,8,7,3,10,6.0,Ángel Correa,100,Ángel Correa,14,4,3
19,Atlético,Griezmann,DL,76,5.4,16.080.000,93,"[10, 10, 7, 3, 15]",10,10,7,3,15,9.0,Antoine Griezmann,100,Antoine Griezmann,14,3,1
20,Atlético,Matheus Cunha,DL,46,4.6,3.140.000,0,"[9, 5, -, 4, 14]",9,5,0,4,14,6.4,Matheus Cunha,100,Matheus Cunha,10,2,1
21,Atlético,João Félix,DL,32,4.6,8.880.000,21,"[6, 9, 2, -, -]",6,9,2,0,0,3.4,João Félix,100,João Félix,7,1,1
22,Atlético,Saponjic,DL,0,0,270.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,Ivan Saponjic,100,Ivan Saponjic,0,0,0

In [14]:
df_1 = df_1.drop(columns = ['team_matched', 'fuzz_score', 'Player_y'])
df_1

,Team,Player_x,Position,Total Points,Points Average,Value,On start %,Last 5 matchs points,J10,J11,J12,J13,J14,Avg ultimas 5 J,Matchs,Goals / Goals Received,Assistances
0,Atlético,Oblak,PT,48,3.4,5.410.000,100,"[1, 7, 2, 9, 1]",1,7,2,9,1,4.0,14,12,0
1,Atlético,Lecomte,PT,0,0,280.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,0,0,0
2,Atlético,José Giménez,DF,53,5.3,5.160.000,71,"[-, 4, 4, 7, 7]",0,4,4,7,7,4.4,10,0,0
3,Atlético,Savic,DF,56,4.7,5.070.000,86,"[2, 8, 2, -, 3]",2,8,2,0,3,3.0,12,0,0
4,Atlético,Mario Hermoso,DF,43,3.3,3.100.000,86,"[3, 5, 2, 6, 2]",3,5,2,6,2,3.6,13,0,1
5,Atlético,Trippier,DF,39,3.3,4.370.000,64,"[3, 2, 2, -, -]",3,2,2,0,0,1.4,12,0,0
6,Atlético,Felipe,DF,33,4.7,1.680.000,36,"[7, -, -, 15, 2]",7,0,0,15,2,4.8,7,1,1
7,Atlético,Vrsaljko,DF,27,5.4,1.470.000,7,"[-, -, 12, 6, -]",0,0,12,6,0,3.6,5,1,1
8,Atlético,Renan Lodi,DF,22,2,1.440.000,21,"[0, -, -, -, -]",0,0,0,0,0,0.0,11,0,0
10,Atlético,Rodrigo de Paul,MD,69,5.3,8.810.000,57,"[4, 10, 4, 2, 8]",4,10,4,2,8,5.6,13,0,1
11,Atlético,Kondogbia,MD,42,4.7,3.770.000,29,"[-, -, -, 3, 14]",0,0,0,3,14,3.4,9,0,0
12,Atlético,Lemar,MD,53,6.6,7.430.000,50,"[-, -, -, 5, 7]",0,0,0,5,7,2.4,8,3,2
13,Atlético,Marcos Llorente,MD,44,4.4,9.880.000,71,"[-, -, 1, 4, -]",0,0,1,4,0,1.0,10,0,1
14,Atlético,Koke,MD,39,3.5,6.820.000,79,"[2, 4, 1, 6, 3]",2,4,1,6,3,3.2,11,0,0
15,Atlético,Héctor Herrera,MD,29,4.1,960.000,14,"[6, 2, 1, -, -]",6,2,1,0,0,1.8,7,0,0
16,Atlético,Carlos Martín,MD,3,3,390.000,0,"[-, -, -, 3, -]",0,0,0,3,0,0.6,1,0,0
17,Atlético,Luis Suárez,DL,81,5.8,17.550.000,71,"[1, 0, 10, 2, 1]",1,0,10,2,1,2.8,14,7,1
18,Atlético,Correa,DL,78,5.6,9.600.000,64,"[2, 8, 7, 3, 10]",2,8,7,3,10,6.0,14,4,3
19,Atlético,Griezmann,DL,76,5.4,16.080.000,93,"[10, 10, 7, 3, 15]",10,10,7,3,15,9.0,14,3,1
20,Atlético,Matheus Cunha,DL,46,4.6,3.140.000,0,"[9, 5, -, 4, 14]",9,5,0,4,14,6.4,10,2,1
21,Atlético,João Félix,DL,32,4.6,8.880.000,21,"[6, 9, 2, -, -]",6,9,2,0,0,3.4,7,1,1
22,Atlético,Saponjic,DL,0,0,270.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,0,0,0

In [15]:
df_1 = df_1.rename(columns = {'Player_x': 'Player'})

In [16]:
df_1

,Team,Player,Position,Total Points,Points Average,Value,On start %,Last 5 matchs points,J10,J11,J12,J13,J14,Avg ultimas 5 J,Matchs,Goals / Goals Received,Assistances
0,Atlético,Oblak,PT,48,3.4,5.410.000,100,"[1, 7, 2, 9, 1]",1,7,2,9,1,4.0,14,12,0
1,Atlético,Lecomte,PT,0,0,280.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,0,0,0
2,Atlético,José Giménez,DF,53,5.3,5.160.000,71,"[-, 4, 4, 7, 7]",0,4,4,7,7,4.4,10,0,0
3,Atlético,Savic,DF,56,4.7,5.070.000,86,"[2, 8, 2, -, 3]",2,8,2,0,3,3.0,12,0,0
4,Atlético,Mario Hermoso,DF,43,3.3,3.100.000,86,"[3, 5, 2, 6, 2]",3,5,2,6,2,3.6,13,0,1
5,Atlético,Trippier,DF,39,3.3,4.370.000,64,"[3, 2, 2, -, -]",3,2,2,0,0,1.4,12,0,0
6,Atlético,Felipe,DF,33,4.7,1.680.000,36,"[7, -, -, 15, 2]",7,0,0,15,2,4.8,7,1,1
7,Atlético,Vrsaljko,DF,27,5.4,1.470.000,7,"[-, -, 12, 6, -]",0,0,12,6,0,3.6,5,1,1
8,Atlético,Renan Lodi,DF,22,2,1.440.000,21,"[0, -, -, -, -]",0,0,0,0,0,0.0,11,0,0
10,Atlético,Rodrigo de Paul,MD,69,5.3,8.810.000,57,"[4, 10, 4, 2, 8]",4,10,4,2,8,5.6,13,0,1
11,Atlético,Kondogbia,MD,42,4.7,3.770.000,29,"[-, -, -, 3, 14]",0,0,0,3,14,3.4,9,0,0
12,Atlético,Lemar,MD,53,6.6,7.430.000,50,"[-, -, -, 5, 7]",0,0,0,5,7,2.4,8,3,2
13,Atlético,Marcos Llorente,MD,44,4.4,9.880.000,71,"[-, -, 1, 4, -]",0,0,1,4,0,1.0,10,0,1
14,Atlético,Koke,MD,39,3.5,6.820.000,79,"[2, 4, 1, 6, 3]",2,4,1,6,3,3.2,11,0,0
15,Atlético,Héctor Herrera,MD,29,4.1,960.000,14,"[6, 2, 1, -, -]",6,2,1,0,0,1.8,7,0,0
16,Atlético,Carlos Martín,MD,3,3,390.000,0,"[-, -, -, 3, -]",0,0,0,3,0,0.6,1,0,0
17,Atlético,Luis Suárez,DL,81,5.8,17.550.000,71,"[1, 0, 10, 2, 1]",1,0,10,2,1,2.8,14,7,1
18,Atlético,Correa,DL,78,5.6,9.600.000,64,"[2, 8, 7, 3, 10]",2,8,7,3,10,6.0,14,4,3
19,Atlético,Griezmann,DL,76,5.4,16.080.000,93,"[10, 10, 7, 3, 15]",10,10,7,3,15,9.0,14,3,1
20,Atlético,Matheus Cunha,DL,46,4.6,3.140.000,0,"[9, 5, -, 4, 14]",9,5,0,4,14,6.4,10,2,1
21,Atlético,João Félix,DL,32,4.6,8.880.000,21,"[6, 9, 2, -, -]",6,9,2,0,0,3.4,7,1,1
22,Atlético,Saponjic,DL,0,0,270.000,0,"[-, -, -, -, -]",0,0,0,0,0,0.0,0,0,0

In [39]:
espn_url = 'https://espndeportes.espn.com/futbol/equipo/plantel/_/id/93/esp.athletic_bilbao'

soup = bs(req.get(teams_set[1][5]).text , 'html.parser')

team_name = soup.find('span', class_='db fw-bold').text.strip()

porteros = soup.find('div', class_='Table__Scroller')
filas_porteros = porteros.find_all('tr')
stats_porteros = [[e.text for e in filas_porteros[i].find_all('td')] for i in range(1,len(filas_porteros))]
stats_porteros

jugadores_campo = soup.find_all('div', class_='Table__Scroller')
filas_jugadores_campo = jugadores_campo[1].find_all('tr')
stats_jugadores = [[e.text for e in filas_jugadores_campo[i].find_all('td')] for i in range(1,len(filas_jugadores_campo))]
stats_jugadores

[['José Giménez2',
  'D',
  '26',
  '1.85 m',
  '78 kg',
  'Uruguay',
  '10',
  '0',
  '0',
  '0',
  '13',
  '3',
  '3',
  '9',
  '4',
  '0'],
 ['Renan Lodi12',
  'D',
  '23',
  '1.73 m',
  '68 kg',
  'Brasil',
  '11',
  '8',
  '0',
  '0',
  '4',
  '0',
  '2',
  '3',
  '0',
  '0'],
 ['Stefan Savic15',
  'D',
  '30',
  '1.88 m',
  '81 kg',
  'Montenegro',
  '12',
  '0',
  '0',
  '0',
  '9',
  '6',
  '10',
  '8',
  '2',
  '0'],
 ['Felipe18',
  'D',
  '32',
  '1.91 m',
  '83 kg',
  'Brasil',
  '7',
  '2',
  '1',
  '1',
  '4',
  '1',
  '7',
  '6',
  '2',
  '0'],
 ['Mario Hermoso22',
  'D',
  '26',
  '1.83 m',
  '73 kg',
  'España',
  '13',
  '1',
  '0',
  '1',
  '7',
  '0',
  '14',
  '4',
  '3',
  '1'],
 ['Kieran Trippier23',
  'D',
  '31',
  '1.78 m',
  '71 kg',
  'Inglaterra',
  '12',
  '3',
  '0',
  '0',
  '2',
  '0',
  '11',
  '3',
  '1',
  '0'],
 ['Sime Vrsaljko24',
  'D',
  '29',
  '1.8 m',
  '76 kg',
  'Croacia',
  '5',
  '4',
  '1',
  '1',
  '3',
  '1',
  '3',
  '0',
  '1',
  '0'],
 ['Sergio Camus37',
  'D',
  '24',
  '1.75 m',
  '73 kg',
  'España',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--'],
 ['Fran González38',
  'D',
  '23',
  '1.83 m',
  '78 kg',
  'España',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--',
  '--'],
 ['Geoffrey Kondogbia4',
  'M',
  '28',
  '1.88 m',
  '78 kg',
  'Central African Republic',
  '9',
  '5',
  '0',
  '0',
  '5',
  '0',
  '10',
  '9',
  '5',
  '0'],
 ['Rodrigo De Paul5',
  'M',
  '27',
  '1.8 m',
  '68 kg',
  'Argentina',
  '13',
  '5',
  '0',
  '1',
  '8',
  '1',
  '14',
  '26',
  '2',
  '0'],
 ['Koke6',
  'M',
  '29',
  '1.75 m',
  '77 kg',
  'España',
  '11',
  '0',
  '0',
  '0',
  '3',
  '2',
  '15',
  '11',
  '2',
  '0'],
 ['Thomas Lemar11',
  'M',
  '26',
  '1.7 m',
  '63 kg',
  'Francia',
  '8',
  '1',
  '3',
  '2',
  '13',
  '4',
  '6',
  '4',
  '2',
  '0'],
 ['Marcos Llorente14',
  'M',
  '26',
  '1.83 m',
  '73 kg',
  'España',
  '10',
  '0',
  '0',
  '1',
  '6',
  '0',
  '9',
  '5',
  '1',
  '0'],
 ['Héctor Herrera16',
  'M',
  '31',
  '1.85 m',
  '78 kg',
  'México',
  '7',
  '5',
  '0',
  '0',
  '3',
  '0',
  '5',
  '2',
  '1',
  '0'],
 ['Yannick Carrasco21',
  'M',
  '28',
  '1.85 m',
  '73 kg',
  'Bélgica',
  '14',
  '2',
  '2',
  '4',
  '21',
  '4',
  '8',
  '11',
  '3',
  '0'],
 ['Javier Serrano26',
  'M',
  '18',
  '--',
  '--',
  'España',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['João Félix7',
  'A',
  '22',
  '1.8 m',
  '68 kg',
  'Portugal',
  '7',
  '4',
  '1',
  '1',
  '8',
  '2',
  '6',
  '18',
  '2',
  '1'],
 ['Antoine Griezmann8',
  'A',
  '30',
  '1.75 m',
  '73 kg',
  'Francia',
  '14',
  '1',
  '3',
  '1',
  '26',
  '6',
  '9',
  '16',
  '2',
  '0'],
 ['Luis Suárez9',
  'A',
  '34',
  '1.83 m',
  '86 kg',
  'Uruguay',
  '14',
  '4',
  '7',
  '1',
  '25',
  '13',
  '7',
  '11',
  '3',
  '0'],
 ['Ángel Correa10',
  'A',
  '26',
  '1.7 m',
  '68 kg',
  'Argentina',
  '14',
  '5',
  '4',
  '3',
  '20',
  '8',
  '7',
  '7',
  '2',
  '0'],
 ['Ivan Saponjic17',
  'A',
  '24',
  '1.91 m',
  '86 kg',
  'Serbia',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['Matheus Cunha19',
  'A',
  '22',
  '1.83 m',
  '76 kg',
  'Brasil',
  '10',
  '10',
  '2',
  '1',
  '7',
  '3',
  '4',
  '3',
  '2',
  '0'],
 ['Giuliano Simeone27',
  'A',
  '18',
  '--',
  '--',
  'Argentina',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['Carlos Martín36',
  'A',
  '19',
  '--',
  '--',
  'España',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0']]

In [36]:
url= 'https://www.comuniate.com/plantilla/18/valencia' # para casi todos los datos
soup = bs(req.get(url).text , 'html.parser')
values = soup.find_all('small')
value = [values[i].text.split('€')[0].replace('.','') for i in range(0,len(values),3)]
'''for val in value:

    val = val.replace('.','')
    print(val)
value'''

value

['2770000',
 '1890000',
 '280000',
 '210000',
 '6160000',
 '3990000',
 '6080000',
 '3530000',
 '1930000',
 '1360000',
 '2780000',
 '2160000',
 '530000',
 '310000',
 '380000',
 '12640000',
 '1310000',
 '910000',
 '1600000',
 '1300000',
 '480000',
 '350000',
 '210000',
 '13500000',
 '3760000',
 '7100000',
 '2920000',
 '800000']

In [ ]:
### Prueba para hacer con map.

In [ ]:
def comunio_team_stats(team, journey):
    print(team[0])
    soup = bs(req.get(team[2]).text , 'html.parser')
    soup2 = bs(req.get(team[4]).text , 'html.parser')
    soup3 = bs(req.get(team[5]).text , 'html.parser')

    jugadores = team[3] # necesario porque no todas las plantillas tienes los mismos jugadores, entra por parámetro

        #team_name = team[0]
    team_id = team[1]

    equipo = team[0] #* jugadores

    name = soup.find_all('strong')
    name = [name[i].text for i in range(22, (22 + jugadores * 2), 2)]

    pos_gk = soup.find_all('span', class_='label-posicion label-success')
    gks = [pos_gk[i].text.strip() for i in range(len(pos_gk))]

    pos_df = soup.find_all('span', class_='label-posicion label-info')
    dfs = [pos_df[i].text.strip() for i in range(len(pos_df))]

    pos_md = soup.find_all('span', class_='label-posicion label-warning')
    mds = [pos_md[i].text.strip() for i in range(len(pos_md))]

    pos_fw = soup.find_all('span', class_='label-posicion label-danger')
    fws = [pos_fw[i].text.strip() for i in range(len(pos_fw))]

    all_pos = gks + dfs + mds + fws

    pts = soup.find_all('span', class_='texto_pequenio2 label-posicion label-primary')

    pt = [pts[i].text for i in range(len(pts))]

    values = soup.find_all('small')
    value = [values[i].text.split('€')[0] for i in range(0,len(values),3)]

    pt_avg = [values[i].text.split()[-1] for i in range(1,len(values),3)]

    on_start_per = [values[i].text.split('%')[0] for i in range(2,len(values),3)]

    puntos = soup2.find_all('div', class_='streak')
    pts_last_five_jouyneys = [puntos[i].text.split() for i in range(len(puntos))] 
        
    jback5 = []
    jback4 = []
    jback3 = []
    jback2 = []
    jback1 = []
    avg_last_5 = []
    for i, ptos in enumerate(pts_last_five_jouyneys):
        avg = 0/5
        if pts_last_five_jouyneys[i][0] == '-':
            jback5.append(0)
        else:
            jback5.append(int(pts_last_five_jouyneys[i][0]))
            avg += int(pts_last_five_jouyneys[i][0])
        if pts_last_five_jouyneys[i][1] == '-':
            jback4.append(0)
        else:
            jback4.append(int(pts_last_five_jouyneys[i][1]))
            avg += int(pts_last_five_jouyneys[i][1])
        if pts_last_five_jouyneys[i][2] == '-':
            jback3.append(0)
        else:
            jback3.append(int(pts_last_five_jouyneys[i][2]))
            avg += int(pts_last_five_jouyneys[i][2])
        if pts_last_five_jouyneys[i][3] == '-':
            jback2.append(0)
        else:
            jback2.append(int(pts_last_five_jouyneys[i][3]))
            avg += int(pts_last_five_jouyneys[i][3])
        if pts_last_five_jouyneys[i][4] == '-':
            jback1.append(0)
        else:
            jback1.append(int(pts_last_five_jouyneys[i][4]))
            avg += int(pts_last_five_jouyneys[i][4])

        avg_last_5.append(avg/5)        


    jornada = journey

    team = {'Team_id': team_id, #entra como parametro en la función
            'Team': equipo, # cambiar por el parametro de entrada de entrada team
            'Player': name,
            'Position': all_pos,
            'Total_Points': pt,
            'Points_Average': pt_avg,
            'Value': value,
            'On_start_%': on_start_per,
            'Last_5_matchs_points': pts_last_five_jouyneys,
            f'J-{jornada - 4}': jback5,
            f'J-{jornada - 3}': jback4,
            f'J-{jornada - 2}': jback3,
            f'J-{jornada - 1}': jback2,
            f'-{jornada}': jback1,
            'Avg_last_5_J': avg_last_5}
        
    
    '''
    team = {#'Team_id': team_id, #entra como parametro en la función
                'Team': equipo, # cambiar por el parametro de entrada de entrada team
                'Player': name,
                'Position': all_pos,
                'Total Points': pt,
                'Points Average': pt_avg,
                'Value': value,
                'On start %': on_start_per,
               'Last 5 matchs points': pts_last_five_jouyneys }

        #print(equipo)
        #print(len(name))
        #print(len(all_pos))
        #print(len(pt))
        #print(team)
    '''
    df = pd.DataFrame(team)
        #df
        #df = pd.DataFrame(team)
        #df.to_csv(f'{team_name}.csv', index = False)
        #data.append(team)
        
        # Segunda parte del scrapping para hacer la tabla de estadisticas
        
        #espn_url = team[5]

        #soup3 = bs(req.get(team[5]).text , 'html.parser')

        #team_name = soup3.find('span', class_='db fw-bold').text.strip()
    porteros = soup3.find('div', class_='Table__Scroller')
    filas_porteros = porteros.find_all('tr')
    stats_porteros = [[e.text for e in filas_porteros[i].find_all('td')] for i in range(1,len(filas_porteros))]

    jugadores_campo = soup3.find_all('div', class_='Table__Scroller')
    filas_jugadores_campo = jugadores_campo[1].find_all('tr')
    stats_jugadores = [[e.text for e in filas_jugadores_campo[i].find_all('td')] for i in range(1,len(filas_jugadores_campo))]

    pl_lst = []

    for i, player in enumerate(stats_porteros):
        name = ''.join([e for e in stats_porteros[i][0] if e.isalpha() or e == ' '])
        matchs = player[6]
        goles_encajados = player[9]
        asistencias = player[10]


        gk_dict = {'Player': name, 'Matchs': matchs, 'Goals_/_Goals_Received': goles_encajados, 'Assists' : asistencias}
        pl_lst.append(gk_dict)
    for i, player in enumerate(stats_jugadores):
        name = ''.join([e for e in stats_jugadores[i][0] if e.isalpha() or e == ' '])
        matchs = player[6]
        goles = player[8]
        asistencias = player[9]


        pl_dict = {'Player': name, 'Matchs': matchs, 'Goals_/_Goals_Received': goles_encajados, 'Assists' : asistencias}
        pl_lst.append(pl_dict)
    
        df_stats = pd.DataFrame(pl_lst)
        
    df[['team_matched', 'fuzz_score']]=df.Player.apply(lambda x:process.extractOne(x,
                                                                 df_stats.Player.tolist(),
                                                                 scorer=fuzz.partial_ratio)).apply(pd.Series)
    df=pd.merge(df, df_stats, left_on='team_matched', right_on='Player')
    df_1=df[df.fuzz_score>85]
    df_1 = df_1.drop(columns = ['team_matched', 'fuzz_score', 'Player_y'])
    df_1 = df_1.rename(columns = {'Player_x': 'Player'})
    order_col = [0,1,2,3,15,7,16,17,4,5,8,9,10,11,12,13,14,6]
    df_1 = df_1[df_1.columns[order_col]]
    #df_teams = df_teams.append(df_1)
    df_1.to_csv(f'data/{equipo}_J{jornada}.csv', index=False)
    
    
    #df_teams.to_json(f'data/comunio_J{jornada}.json', orient="table")
    #df_teams.to_csv(f'data/comunio_J{jornada}.csv', index=False)
    
    return 'Finished'

In [ ]:
journey = [14 for i in range(20)]

In [ ]:
df_teams = pd.DataFrame()
result = map(comunio_team_stats, teams_set, journey)
df_teams = pd.DataFrame()
df_teams
print(list(result))

Se desestima la opción de usar map porque no me salen los datos en un único df, y tendría que crearlo después cargando los archivos generados con la función e irlos agregando mediante un bucle.